.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Ajusta la altura mínima según tus necesidades */
  }
  
  mat-card {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  